<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<title>Frieda-portfolio</title>
</head>
<body>
	<header>
		<div >
		    <div class="navbar navbar-inverse">
		    	<button class="btn btn-warning">
		        		<a href="/"> Go back to Gallery</a>
		        </button>
		        <nav class="menu">
		        		
    				<a href="#About">About</a>
    				<a href="/coment">Contact Me</a>
    			</nav>
    		</div>	
		</div>
	</header>