<% include partials/header1%>

<div class="container">
    <div class="row text-center animated slideInDown " class="col-md-12" class="row text-center">    
        <h1><%= picture.name %></h1>
        <div class= "container max-width:80%;">
        
            <img  src="<%= picture.image%>" class=" img-responsive"  class="img-rounded">>
        
        </div>
        
        <p><%= picture.description %></p>
        <button class="btn btn-secundary">
        
        </button>
    </div>
</div>    

<!--<% include partials/footer%>-->